@using WikiCollege.Models.Dao;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="fb:pages" content="" />
    <title>@RenderSection("title", required: true)</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/User/img/wiki.ico">
    <meta name="robots" content="index, follow" />
    <meta http-equiv="content-language" content="vi" />
    <meta property="og:type" content="index" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="200" />
    <link type="text/css" rel="stylesheet" href="/Assets/User/css/style.css?version=2.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css?v=1.0" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
</head>
<body>
    <!--Header-->
    <div class="container-header">
        <div class="header">
            <a href="/Home/Index">
                <img class="float_left logo-pc" src="/Assets/User/img/web_logo.png" />
            </a>

            <div class="hotline_info">
                <b>CỔNG THÔNG TIN TUYỂN SINH ĐẠI HỌC, CAO ĐẲNG</b>
            </div>
        </div>
        <div class="menu">
            <ul class="list_menu">
                <li class=" ">
                    <a href="/Home/Index">Trang Chủ</a>
                </li>
                <li class=" ">
                    <a href="/DaiHoc/Index">Đại học</a>
                </li>
                <li class=" ">
                    <a href="/CaoDang/Index">Cao đẳng</a>
                </li>
                <li class=" ">
                    <a href="/NganhHoc/Index">Ngành học</a>
                </li>
                <li class=" ">
                    <a href="">Đăng nhập</a>
                </li>
            </ul>
        </div>
    </div>
    <!--End Header-->
    <!--Box Search-->
    <div class="box_slide box_search">
        <h2 style="color:#ff310d">Tìm trường học mơ ước của bạn</h2>
        <form action="#" method="post">
            <input type="text" placeholder="Nhập tên trường mà bạn muốn tìm kiếm..." name="keyword">
            <button type="submit" name="submit"><b>Tìm kiếm</b></button>
            <input type="hidden" name="task" value="search_school">
        </form>
    </div>
    <!--End Box Search-->
    <!--Main Content-->
    <div class="container-content">
        @RenderBody()
        <!--Right-->
        <div class="detail-space"></div>
        <div class="detail-right">
            <div class="right_box">
                <div class="left_box_title">
                    <i class="fas fa-comments"></i> <span>Tin Mới</span>
                </div>
                @{
                    var list = new ContentDao().ListAll();
                    foreach (var item in list)
                    {
                        if (DateTime.Now <= item.top_hot)
                        {
                            <ul class="right_list_1">
                                <li>
                                    <a href="/Display/Index/@item.content_ID">
                                        @item.title
                                        <img src="~/Assets/User/img/hot.gif" />
                                    </a>
                                </li>
                            </ul>
                        }
                    }
                }
            </div>
        </div>
        <!--End Right-->
    </div>
    <!--End Main Content-->
    <!-------------Footer----------->
    <div>
        <footer>
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <i>Contact us: wikicollege@gmail.com</i>
                    <p><p><span id="datetime"></span></p></p>
                    <script>
                        var dt = new Date();
                        document.getElementById("datetime").innerHTML = dt.toLocaleString();
                    </script>
                </div>
            </div>
        </footer>
        <!-------------End Footer----------->
    </div>
</body>
</html>